*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style:none;
    border:0;
}

:root {
    --gap:3rem;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    background-color: #161b24;
}

.logo {
    width: 50px;
    height: 50px;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #1c1c1c;
}

.nav_links li {
    display: inline-block;
    justify-content: space-between;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease-in-out;
}

.nav_links li a:hover{
    color: #f03b35;
}

.text-logo {
  display: flex;
  flex-grow: 1;
  padding-left: 2rem;
  color: white;
}